# Игнорировать всё
*

# Не игнорировать папку dist
!dist/

# Не игнорировать содержимое папки dist
!dist/*

# Но если в dist есть другие файлы и папки, нужно явно указать, что их не игнорировать
!dist/**/